@model HRM_MVC.Models.HrList

@{
    ViewData["Title"] = "create_HR";
}
<style>
    .main-login {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0px;
    }

    .box-login {
        margin: 0px;
        background-color: #ebebeb;
        padding: 30px;
        border-radius: 7px;
    }

    .back-link:hover {
        background-color: #69738379;
        border: 1px solid white;
        border-radius: 5px;
        padding: 6px 11px 7px 11px;
        text-decoration: none;
    }
</style>


<div>
    <a class="back-link" style="color:#ededed" asp-controller="Home" asp-action="Index">
        <i class="fa fa-arrow-left"></i> Back
    </a>
</div>
<hr />

<h3 style="color: #ededed; margin-bottom: 20px;">Register</h3>


<div class="row main-login">
    <div class="col-md-4 box-login">
        <form asp-action="create_HR">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Name</label>
                <input placeholder="Name" style="border-radius: 5px; background-color: #ffffff; border: none; border-bottom: 2px solid black" asp-for="HrName" class="form-control" autofocus />
                <span asp-validation-for="HrName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Email</label>
                <input placeholder="Email" style="border-radius: 5px; background-color: #ffffff; border: none; border-bottom: 2px solid black" type="email" asp-for="HrEmail" class="form-control" />
                <span asp-validation-for="HrEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Password</label>
                <input placeholder="Password" style="border-radius: 5px; background-color: #ffffff; border: none; border-bottom: 2px solid black" type="password" asp-for="HrPassword" class="form-control" />
                <span asp-validation-for="HrPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Location</label>
                <select style="border-radius: 5px; background-color: #ffffff; border: none; border-bottom: 2px solid black" asp-for="LocationId" class="form-control" asp-items="ViewBag.LocationId">
                    <option selected disabled>Location</option>
                </select>
                <span asp-validation-for="LocationId" class="text-danger"></span>
            </div>
            <div style="display:flex;justify-content:center" class="form-group">
                <input type="submit" value="Create" class="btn btn-dark" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/jquery-1.7.1.min.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.validate.min.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js" type="text/javascript"></script>